@model SmartSys.BL.DataHub.DHLoaderModel

@{
    ViewBag.Title = "Create";
}
<style>
    td {
        padding-right: 15px;
    }
</style>
<div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-leaf  text-info">
    Create DataHub Loader
</div>
<script>
    $(document).ready(function () {
        $('.save').click(function (e) {
            e.preventDefault();
            var JobPollingInterval = $('#JobPollingInterval').val();
            var EventPollingInterval = $('#EventPollingInterval').val();
            var TriggerPollingInterval = $('#TriggerPollingInterval').val();
            var Host = $('#Host').val();
            var Port = $('#Port').val();
            
            if (JobPollingInterval.toString() == "") {
                alert("Please Enter Job PollingInterval Name ");
                return false;
            }
            if (EventPollingInterval.toString() == "") {
                alert("Please Enter Event PollingInterval ");
                return false;
            }
            if (TriggerPollingInterval.toString() == "") {
                alert("Please Enter Trigger PollingInterval ");
                return false;
            }
            if (Host.toString() == "") {
                alert("Please Enter Host Name ");
                return false;
            }
            if (Port.toString() == "") {
                alert("Please Enter Port Name ");
                return false;
            }
            $("#Form1").unbind('submit').submit(); S
        });
    });
</script>
@using (Html.BeginForm("Create", "DHLoader", FormMethod.Post, new {  Id = "Form1" }))
{

    <html>
    <body>
        <br>
        <table class="spacing-table" style="border-collapse:separate;border-spacing: 0 5px;">
            <tr>
                <td>
                    <label for="JobPollingInterval">Job Polling Interval</label>
                </td>

                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.JobPollingInterval, new { @class = "form-control", id = "JobPollingInterval" })
                        @Html.ValidationMessageFor(model => model.JobPollingInterval)
                    </div>
                </td>
                <td>
                    <label for="EventPollingInterval">Event Polling Interval</label>
                </td>

                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.EventPollingInterval, new { @class = "form-control", id = "EventPollingInterval" })
                        @Html.ValidationMessageFor(model => model.EventPollingInterval)
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <label for="TriggerPollingInterval">Trigger Polling Interval</label>
                </td>

                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.TriggerPollingInterval, new { @class = "form-control", id = "TriggerPollingInterval" })
                        @Html.ValidationMessageFor(model => model.TriggerPollingInterval)
                    </div>
                </td>
                <td>
                    <label for="isActive">is Active</label>
                </td>

                <td>
                    <div class="">
                        @Html.EditorFor(model => model.isActive, new { @class = "form-control", id = "" })
                        @Html.ValidationMessageFor(model => model.isActive)
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <label for="Host">Host</label>
                </td>
                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.Host, new { @class = "form-control", id = "Host" })
                        @Html.ValidationMessageFor(model => model.Host)
                    </div>
                </td>
                <td>
                    <label for="Port">Port</label>
                </td>

                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.Port, new { @class = "form-control", id = "Port" })
                        @Html.ValidationMessageFor(model => model.Port)
                    </div>
                </td>

            </tr>


            <tr>
                <td>
                    <label for="LoaderType">Loader Type</label>
                </td>

                <td>
                    <div class="">
                        @Html.DropDownList("LoaderType", (IEnumerable<SelectListItem>)ViewBag.LoaderList, new { @class = "form-control", style = "width:250px" })
                        @Html.ValidationMessageFor(model => model.LoaderType)
                    </div>
                </td>
                <td>
                    <label for="BusinessLine Id">BusinessLine</label>
                </td>

                <td>
                    <div class="">
                        @Html.DropDownList("BusinessLineId", (IEnumerable<SelectListItem>)ViewBag.BussList, new { @class = "form-control", style = "width:310px" })
                        @Html.ValidationMessageFor(model => model.BusinessLineId)
                    </div>
                </td>

            </tr>


        </table>
        <table>
            <tr>

                <td>
                    <button style="margin:10px" class="btn-xs btn-info glyphicon glyphicon-hand-left" type="button" onclick="location.href = 'GetList';" );"> Back</button>
                        <button type="submit" class="btn-xs  btn-info glyphicon glyphicon-save save"> Save</button>
                </td>

            </tr>
        </table>
    </body>
</html>
}


