@model SmartSys.BL.Enquiry.DataLevelFour

@{
    ViewBag.Title = "DataLevelFour";
}

<style>
    tr.spaceUnder > td {
        padding-bottom: 5px;
        padding-left: 5px;
    }
</style>
<table>

    <tr class="spaceUnder">
        <td>
            <label>Assigned By:</label>
        </td>
        <td>
            @Html.TextBoxFor(model => model.AssignedBy, new { @readonly = "readonly", @class = "form-control" })
        </td>

        <td>
            <label>Assigned Date:</label>
        </td>
        <td>
            @Html.EJ().DatePicker("AssignedDate").Value(Model.AssignedDate).DateFormat("MM/dd/yyyy").ReadOnly(true)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            <label>Assigned To:</label>
        </td>
        <td>
            @Html.TextBoxFor(model => model.AssignedTo, new { @readonly = "readonly", @class = "form-control" })
        </td>
        <td>
            <label>Time Taken(HH:MM):</label>
        </td>
        <td>
            @Html.TextBox("TimeTaken", (string)ViewBag.TimeTaken, new { @readonly = "readonly", @class = "form-control" })
        </td>
    </tr>

</table>
<table style="padding-bottom:10px">
    <tr>
        <td style="width:125px">
            <label>Description:</label>
        </td>
        <td>
            @Html.TextArea("Description", (string)ViewBag.Description, new { @style = "width: 480px; max-width: 800px;", @readonly = "readonly", @class = "form-control" })
        </td>
    </tr>
</table>
@Html.EJ().ScriptManager()
