@model SmartSys.BL.Enquiry.DataLevelSeven

@{
    ViewBag.Title = "DataLevelSeven";
}

<style>
    tr.spaceUnder > td {
        padding-bottom: 5px;
        padding-left: 5px;
    }
</style>
<table style="padding-bottom:10px">

    <tr class="spaceUnder">
        <td>
            <label>Item Name:</label>
        </td>
        <td>
            @Html.TextBoxFor(model => model.ItemName, new { @readonly = "readonly", @class = "form-control" })
        </td>

        <td>
            <label>MPN:</label>
        </td>
        <td>
            @Html.TextBoxFor(model => model.MPN, new { @readonly = "readonly", @class = "form-control" })
        </td>
    </tr>

    <tr class="spaceUnder">
        <td>
            <label>Vendor Name:</label>
        </td>
        <td>
            @Html.TextBoxFor(model => model.VendorName, new { @readonly = "readonly", @class = "form-control" })
        </td>

        <td>
            <label>Quantity:</label>
        </td>
        <td>
            @Html.TextBoxFor(model => model.Quantity, new { @readonly = "readonly", @class = "form-control" })
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            <label>ExpectedDate:</label>
        </td>
        <td>
            @Html.EJ().DatePicker("ExpectedDate").Value(Model.ExpectedDate).DateFormat("MM/dd/yyyy").ReadOnly(true)
        </td>
        <td>
            <label>Time Taken(HH:MM):</label>
        </td>
        <td>
            @Html.TextBoxFor(model => model.TimeTaken, new { @readonly = "readonly", @class = "form-control" })
        </td>

       
    </tr>
    <tr class="spaceUnder">
        <td>
            <label>SendBy:</label>
        </td>
        <td>
            @Html.TextBoxFor(model => model.SendBy, new { @readonly = "readonly", @class = "form-control" })
        </td>
        <td>
            <label>SendDate:</label>
        </td>
        <td>
            @Html.EJ().DatePicker("SendDate").Value(Model.SendDate).DateFormat("MM/dd/yyyy").ReadOnly(true)
        </td>       
    </tr>
</table>
<table>
    <tr class="spaceUnder">
        <td style="width:125px">
            <label>Description:</label>
        </td>
        <td>
            @Html.TextAreaFor(model => model.Description, new { @style = "width: 480px; max-width: 800px;", @readonly = "readonly", @class = "form-control" })
        </td>
    </tr>
</table>
@Html.EJ().ScriptManager()








