@model SmartSys.BL.AreaCityMappingdetail

@{
    ViewBag.Title = "City Area Mapping Details";
}

<script type="text/javascript">
    $(document).ready(function (e) {

        $("#frmRoleRptMap").submit(function (e) {
            $("#Lstallocatedcity option").prop("selected", true);;
        })




        //followin code is for txfering items from one list to another
        $("#btnAdd").click(function (e) {

            $("#lstVendor > option:selected").appendTo("#Lstallocatedcity");
        })
        $("#btnAddAll").click(function (e) {

            $("#lstVendor > option").appendTo("#Lstallocatedcity");
        })
        $("#btnRemove").click(function (e) {
            $("#Lstallocatedcity > option:selected").appendTo("#lstVendor");

        })
        $("#btnRemoveAll").click(function (e) {
            $("#Lstallocatedcity > option").appendTo("#lstVendor");
        })
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#Area").change(function (e) {

            $("#Lstallocatedcity").empty();
            var AreaId = $("#Area").val();

            var path = '@Url.Action("GetAllocatedCity")';

            $.ajax({
                type: 'POST',
                url: path, // we are calling json method
                dataType: 'json',
                data: { AreaId: AreaId },
                success: function (lst) {
                    // states contains the JSON formatted list
                    // of states passed from the controller

                    $.each(lst, function (i, zone) {
                        $("#Lstallocatedcity").append('<option value="' + zone.Value + '">' +
                             zone.Text + '</option>');
                        // here we are adding option for States

                    });
                },

                error: function (ex) {
                    alert('Failed to retrieve Zones.' + ex);
                }
            });
            return false;
        })
    });
</script>

<div style="margin-top:15px;margin-left:50px" class="glyphicon glyphicon-pencil  text-info">
    <span style="color:red">City Area Mapping Details</span>

</div>

<br>
<br>
@using (Html.BeginForm("AddAreaCityMap", "Admin", FormMethod.Post, new { id = "frmRoleRptMap" }))
{

    <table style="margin-left:30px">
        <tr>
            <td style="margin-left:30px">
                <label for="ShortName" style="color:blue">Area :</label>
            </td>
            <td width="5px"></td>
            <td>
                @Html.DropDownList("AreaId", (IEnumerable<SelectListItem>)ViewBag.Area, "Please Select Area", new { id = "Area", style = "width:310px", @class = "form-control", @required = "required" })

            </td>
        </tr>
    </table>
    <br />
    <table style="margin-left:30px">
        <tr>
            <td align="center">
                @Html.Label("City List")<br />
                @Html.ListBoxFor(model => model.TotalCityArea, (IEnumerable<SelectListItem>)ViewBag.TotalList, new { id = "lstVendor", style = "width:500px;max-width:500px;height:400px", @class = "form-control", size = 4 })
            </td>
            <td width="30px"></td>
            <td align="center">
                <div class="btn" aria-label="...">
                    <button type="button" id="btnAdd" class="btn btn-info glyphicon glyphicon-forward"></button>
                </div><br />

                <div class="btn" aria-label="...">
                    <small> <button type="button" id="btnAddAll" class="btn btn-info glyphicon glyphicon-fast-forward"></button></small>
                </div><br />

                <div class="btn" aria-label="...">
                    <button type="button" id="btnRemove" class="btn btn-info glyphicon glyphicon-backward"></button>
                </div><br />
                <div class="btn" aria-label="...">
                    <button type="button" id="btnRemoveAll" class="btn btn-info glyphicon glyphicon-fast-backward"></button>
                </div><br />
            </td>
            <td width="30px"></td>
            <td align="center">
                @Html.Label("Assigned City List")<br />
                @Html.ListBoxFor(model => model.AssignedCityArea, (IEnumerable<SelectListItem>)ViewBag.AllocatedList, new { id = "Lstallocatedcity", style = "width:500px;max-width:500px;height:400px", @class = "form-control", size = 4 })
            </td>
        </tr>
    </table>

    <table style="margin-left:30px">
        <tr>
          
            <td>
                <div class="btn" aria-label="...">
                    <button type="submit" class="btn-xs  btn-info glyphicon glyphicon-save"> Save</button>
                </div>
            </td>
        </tr>
    </table>


}




