@model SmartSys.BL.EmployeeAddressModel

<script>
    $(document).ready(function () {
        $('#add').click(function (e) {

            var AddressId = $('#AddressId').val();
            var EmpId = $('#EmpId').val();
            var Line1 = $('#Line1').val();
            var Line2 = $('#Line2').val();
            var cntry = $('#Country').val();
            var Pin = $('#Pin').val();
            var LandMark = $('#LandMark').val();
            var Country = $("#Country").val();
            var State = $("#State").val();
            var City = $("#City").val();
            var Description = $('#Description').val();
            var isPrimary = $('#isPrimary').prop('checked')
            if (Line1.toString() == "") {
            alert("Please Enter Line1");
            return false;
            }
            if (cntry.toString() == "") {
            alert("Please Select Country ");
            return false;
            }
            if (State.toString() == "0" || State.toString() == "") {
            alert("Please Select State ");
            return false;
            }
            if (City.toString() == "0" || City.toString() == "") {
            alert("Please Select City ");
            return false;
            }
            if (Pin.toString() == "") {
            alert("Please Enter Pin ");
            return false;
            }
            if (Description.toString() == "") {
            alert("Please Enter Description ");
            return false;
            }

            });
            });
</script>
<style>
    .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* support: IE7 */
        *height: 1.7em;
        *top: 0.1em;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 0.3em;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        cursor: default;
        z-index: 4000 !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#Country").change(function (e) {

            $("#State").empty();
            var newOption = $('<option value="0">Please Select State</option>');

            $('#State').append(newOption);


            var selectedId = $("#Country").val();

            var path = '@Url.Action("GetStateList")';

            $.ajax({
                type: 'POST',
                url: path, // we are calling json method


                dataType: 'json',

                data: { CountryId: selectedId },

                success: function (lst) {
                    // states contains the JSON formatted list
                    // of states passed from the controller

                    $.each(lst, function (i, state) {
                        $("#State").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                        // here we are adding option for States

                    });
                },

                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#State").change(function () {
            $("#City").empty();
            var newOption = $('<option value="0">Please Select City</option>');

            $('#City').append(newOption);
            var path = '@Url.Action("GetCityList")';
            $.ajax({
                type: 'POST',
                url: path,
                dataType: 'json',
                data: { StateId: $("#State").val() },
                success: function (citys) {
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $.each(citys, function (i, city) {
                        $("#City").append('<option value="'
                   + city.Value + '">'
                   + city.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>

@if (Model.AddressId > 0)
{
    <div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-pencil  text-info">
        Edit Address Deatils
    </div>
}
else
{
    <div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-leaf  text-info">
        Create Address Deatils
    </div>
}


@using (Html.BeginForm("CreateEmployeeAddress", "Admin", FormMethod.Post, new { Id = "frmAddress" }))
{
    <html>
    <head>
   
        <style type="text/css">
            .modal-content {
                width: 1100px !important;
                margin: 30px auto !important;
                left: 50%;
                transform: translateX(-50%);
            }
        </style>

    </head>
    <body>
        <div class="modal-body">
            <table style="border-collapse:separate;border-spacing: 0 5px;">
                @* 1 Row *@

                <tr>
                    <td>@Html.HiddenFor(model => model.EmpId, new { id = "EmpId" })</td>
                </tr>
                <tr>
                    @Html.HiddenFor(model => model.AddressId, new { id = "AddressId" })
                    <td style="width:135px">
                        <label>Line 1</label>

                    </td>
                    <td style="width:220px">
                        @Html.TextBoxFor(model => model.Line1, new { @class = "form-control", style = "width:175px", id = "Line1" })
                        @Html.ValidationMessageFor(model => model.Line1)
                    </td>
                    <td style="width:70px">
                        <label>Line 2</label>
                    </td>

                    <td td style="width:220px">
                        @Html.TextBoxFor(model => model.Line2, new { @class = "form-control", style = "width:175px", id = "Line2" })
                        @Html.ValidationMessageFor(model => model.Line2)
                    </td>

                    <td style="width:150px">
                        <label>LandMark</label>
                    </td>
                    <td style="width:220px">
                        @Html.TextBoxFor(model => model.LandMark, new { @class = "form-control", style = "width:175px", id = "LandMark" })
                        @Html.ValidationMessageFor(model => model.LandMark)

                    </td>
                </tr>
                @* 2 Row *@

                <tr style="height:40px">

                    <td style="width:70px">
                        <label>Country</label>
                    </td>

                    <td td style="width:290px">

                        @Html.DropDownList("CountryId", (IEnumerable<SelectListItem>)ViewBag.CountryList, "Please select Country", new { @class = "form-control", style = "width:175px", id = "Country" })
                    </td>


                    <td style="width:100px">
                        <label> State</label>
                    </td>

                    <td style="width:200px">

                        @Html.DropDownList("StateId", (IEnumerable<SelectListItem>)ViewBag.StateList, "Please Select State", new { style = "width:175px", @class = "form-control dropdown1", @id = "State", @onchange = "GetSelectedTextValue(this)" })

                    </td>

                    <td style="width:135px">
                        <label>City</label>
                    </td>

                    <td style="width:220px">

                        @Html.DropDownList("CityId", (IEnumerable<SelectListItem>)ViewBag.Citylist, "Please Select City", new { style = "width:175px", @class = "form-control dropdown1", id = "City" })
                    </td>
                </tr>
                <tr>
                    <td style="width:100px">
                        <label> Pin</label>
                    </td>

                    <td style="width:220px">
                        @Html.TextBoxFor(model => model.Pin, new { style = "width:175px", @class = "form-control", id = "Pin" })
                        @Html.ValidationMessageFor(model => model.Pin)
                    </td>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <td style="width:135px">
                        <label>isPrimary</label>
                    </td>
                    <td>
                        @Html.EditorFor(model => model.isPrimary, new { style = "width:175px", @class = "form-control", id = "isPrimary" })
                    </td>
                    <td style="width:135px">
                        <label>Description</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Description, new { style = "width:175px", @class = "form-control", id = "Description" })
                    </td>


                </tr>
                <tr>
                    <td>
                        <div class="btn" aria-label="...">
                            <button type="submit" class="btn btn-info glyphicon glyphicon-save" id="add"> Save</button>
                        </div>
                </tr>
            </table>
        </div>
    </body>
</html>
}
