@model SmartSys.BL.RoleRptMapingModel

@{
    ViewBag.Title = "RoleReportMapping";
}
<script type="text/javascript">
    $(document).ready(function (e) {

        $("#frmRoleRptMap").submit(function (e) {
            $("#lstAssignedRpt option").prop("selected", true);;
        })

        //followin code is for txfering items from one list to another
        $("#btnAdd").click(function (e) {

                $("#lstRpt > option:selected").appendTo("#lstAssignedRpt");
        })
        $("#btnAddAll").click(function (e) {

            $("#lstRpt > option").appendTo("#lstAssignedRpt");
        })
        $("#btnRemove").click(function (e) {
                $("#lstAssignedRpt > option:selected").appendTo("#lstRpt");

        })
        $("#btnRemoveAll").click(function (e) {
            $("#lstAssignedRpt > option").appendTo("#lstRpt");
        })
    })
</script>
<style>
    td {
        padding-right: 15px;
    }
</style>
<div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-list  text-info">
    Role Report Mapping
</div>
@using (Html.BeginForm("SaveRoleReportMapping", "Admin", FormMethod.Post, new { id = "frmRoleRptMap" }))
{
        <table style="border-collapse:separate;border-spacing: 0 5px;">
        <tr>
            <td>
                <label>
                    Role Name
                </label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.RoleInfo.RoleName, new { @class = "form-control", @readonly = "readonly" })
                @Html.HiddenFor(model => model.RoleInfo.RoleID)
            </td>
        </tr>
        </table>
        <br>
        <table  style="border-collapse:separate;border-spacing: 0 5px;">
            <tr>
                <td align="center">
                    @Html.Label("Report List")<br />
                    @Html.ListBoxFor(model => model.lstRpts, (IEnumerable<SelectListItem>)ViewBag.RptList, new { id = "lstRpt", style = "width: 350px;height:400px", size = 4 })
                </td>
                <td align="center">
                    <div class="btn" aria-label="...">
                        <button type="button" id="btnAdd" class="btn-xs btn-info glyphicon glyphicon-forward"></button>
                    </div><br />
                    <div class="btn" aria-label="...">
                        <small> <button type="button" id="btnAddAll" class="btn-xs btn-info glyphicon glyphicon-fast-forward"></button></small>
                    </div><br />
                    <div class="btn" aria-label="...">
                        <button type="button" id="btnRemove" class="btn-xs btn-info glyphicon glyphicon-backward"></button>
                    </div><br />
                    <div class="btn" aria-label="...">
                        <button type="button" id="btnRemoveAll" class="btn-xs btn-info glyphicon glyphicon-fast-backward"></button>
                    </div><br />
                </td>
                <td align="center">
                    @Html.Label("Assigned Reports List")<br />
                    @Html.ListBoxFor(model => model.lstAssignedRpts, (IEnumerable<SelectListItem>)ViewBag.AssignedRptList, new { id = "lstAssignedRpt", style = "width: 350px;height:400px", size = 4 })
                </td>
            </tr>
        </table>
    <table style="margin-left:280px">
        <tr>
            <td>
                <button style="margin:10px" class="btn-xs btn-info glyphicon glyphicon-hand-left" type="button" onclick="location.href = 'SytemRoleList';" );"> Back</button>
                <button type="submit" class="btn-xs  btn-info glyphicon glyphicon-save"> Save</button>
            </td>
        </tr>
    </table>


}

