@model SmartSys.BL.DW.VendorMappingModel


@{
    var grid = new WebGrid(source: Model.GridList, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "Mappedgrid");
}
<script src="~/Scripts/MultiSelectLocal.js"></script>
<link href="~/Content/MultiSelectLocal.css" rel="stylesheet" />
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.full.min.js"></script>


<script type="text/javascript">
    $(function () {

        $("#CompVendor").select2({
            placeholder: "Please Select a Vendor",
            allowClear: true,
            maximumSelectionLength: 2

        });
    });

</script>

<script>

    $(document).ready(function (e) {

        var str = '@(TempData["Message"])'.toString();

        if (str.toString() == "" || str == null) {
            return false;
        }
        else {
            alert('@(TempData["Message"])');
            return false;
        }
    });


</script>

<script type="text/javascript">


    $(document).ready(function () {
        $('#CompCode').change(function (event) {
            var ddlValue = $('#CompCode').val();
            var path = '@Url.Content("~/DWVendor/GetClientVendorList")' + "?CompCode=" + ddlValue
            event.preventDefault();
            window.location.replace(path);
        });

       

        $('.AddVendor').on('click', function (event) {

            var Vendor_No = $('#CompVendor').val();
            var CompCode = $('#CompCode').val();
            var VendorId = $('#VendorId').val();
            var VendorName = $("#FlStr").val();
            if (Vendor_No == null || Vendor_No.toString()=="") {
                alert("Please Select Extenal Vendor Name ");
                return false;
            }
            var path = '@Url.Content("~/DWVendor/SaveMapping")' + "?Vendor_No=" + Vendor_No + "&CompCode=" + CompCode + "&VendorId=" + VendorId + "&VendorName=" + VendorName
            event.preventDefault();
            window.location.replace(path);
        });
        $('.GetMap').click(function (event) {

            var VendorName = $("#FlStr").val();
            var CompCode = $('#CompCode').val();
            var VendorId = $('#VendorId').val();
            var path = '@Url.Content("~/DWVendor/GetAutoMapping")' + "?VendorName=" + escape(VendorName) + "&CompCode=" + CompCode + "&VendorId=" + VendorId
            event.preventDefault();
            window.location.replace(path);

        });
    });
</script>

<style>
    td {
        padding-right: 15px;
    }
</style>
<div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-pencil  text-info">
    Vendor Mapping
</div>

@if (ViewData["Message"] != null)
{
    <div class="green">
        <p><strong>Warning:</strong>@ViewData["Message"].ToString()</p>
    </div>
}
@using (Html.BeginForm("Edit", "DWVendor", FormMethod.Post, new { Id = "Form1" }))
{
    <html>
    <body>
        <table>
            <tr>
                <td>
                    <div class="navbar-text  glyphicon glyphicon-user">
                        Vendor Name
                    </div>
                </td>
                <td>
                    @Html.EditorFor(model => model.VendorName, new { htmlAttributes = new { id = "FlStr", @readonly = "readonly", @class = "VendorName form-control" } })
                    @Html.Hidden("VendorId", null, new { @id = "VendorId" })
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-text glyphicon glyphicon-globe">
                        Company
                    </div>
                </td>

                <td>
                    @Html.DropDownList("selectedComp", (IEnumerable<SelectListItem>)ViewBag.VendorMapList, "-Select Company Name-", new { @class = "form-control", id = "CompCode", style = "width:310px" })

                </td>

                @if (Model.lstClientMapVendorList != null && Model.lstClientMapVendorList.Count > 0)
                {
                    <td>
                        <div class="navbar-text  glyphicon glyphicon-user">
                            Vendor
                        </div>
                    </td>
                    <td>

                        @Html.DropDownList("ComVendorID", (IEnumerable<SelectListItem>)ViewBag.ComVendorList, "", new { @class = "form-control", id = "CompVendor", style = "width:310px" })
                    </td>
                    <td style="width:37px"></td>
                    if (Model.AutoMapBtn != null && Model.AutoMapBtn.ToString() != "")
                    {
                        <td>
                            <button type="button" value="Get Mapping" id="GetMap" class="GetMap btn-sm btn-info  glyphicon glyphicon-leaf black"> Create Vendor</button>

                        </td>
                    }
                }
                else
                {
                    <td>
                        <span>No Connection Avaliable, Please try later.</span>
                    </td>
                }

            </tr>
        </table>
        <table>
            <tr>
                <td>
                    @if (Model.GridList != null && Model.GridList.Count > 0)
                    {
                        <div style="position:relative">
                            @(Html.EJ().Grid<SmartSys.BL.DW.VendorMappingModel>("grdVendMapList")
                .Datasource((IEnumerable<object>)@Model.GridList)
        .AllowFiltering()
        .AllowPaging()
        .PageSettings(p => { p.PageSize(20); })
        .AllowSorting()
        .EnableHeaderHover()
        .AllowResizing()
        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
        .AllowScrolling()
         .PageSettings(p => { p.PageSize(20); })
        .EnableAltRow(true)

       .EnablePersistence(true)
        .Columns(col =>
        {
            col.Field("CompName").HeaderText("Company").Width(100).Add();
            col.Field("CompVendorID").HeaderText("Vendor NO").TextAlign(TextAlign.Left).Width(200).Add();
            col.Field("CompVendorName").HeaderText("Vendor Name").Width(180).Add();
            col.HeaderText("Delete").TemplateID("#RemoveItem").IsUnbound(true).TextAlign(TextAlign.Center).AllowFiltering(false).Width(50).Add();

        })
                            )
                        </div>
                      
                    }
                    else
                    {

                        <div class="alert alert-info" role="alert">
                            <label>Sorry! There is No Infornation about Vendor List !!!</label>
                        </div>

                    }
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                        <button style="margin:10px" class="btn-xs btn-info glyphicon glyphicon-hand-left" type="button" onclick="location.href = 'VendorList';" );"> Back</button>
                        <button type="button" value="Save Mapping" class="AddVendor btn-xs btn-info glyphicon glyphicon-save"> Save Mapping</button>               
                </td>

            </tr>
        </table>
    </body>
</html>
}
<script id="RemoveItem" type="text/x-jsrender">
    <a class="btn-xs btn-danger  glyphicon glyphicon-trash" href="/DWVendor/DeleteVendorMapping?CompName={{:CompName}}&amp;VendorId=@Model.VendorId&amp;VendorName=@Model.VendorName">  Delete</a>
</script>