@model SmartSys.BL.RGS.InstanceManagerModel

@{
    ViewBag.Title = "Edit";
}

<script>

    $(document).ready(function (e) {

        var str = '@(TempData["Message"])'.toString();

        if (str.toString() == "" || str == null)
        {
            return false;
        }
        else
        {
            alert('@(TempData["Message"])');
            var path = '@Url.Content("~/RGSInsMgr/GetList")'
            event.preventDefault();
            window.location.replace(path);
        }
    });


</script>


<style type="text/css">
    .modal-content {
        width: 600px !important;
        margin: 30px auto !important;
    }
</style>
<style>
    td {
        padding-right: 15px;
    }
</style>
<div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-pencil  text-info">
    Edit Instance Manager
</div>
<script>
    $(document).ready(function () {
        $('.save').click(function (e) {
            e.preventDefault();
            var Host = $('#Host').val();
            var Port = $('#Port').val();
            var PollingInterval = $('#PollingInterval').val();

            if (Host.toString() == "") {
                alert("Please Enter Host");
                return false;
            }
            if (Port.toString() == "") {
                alert("Please Enter Port ");
                return false;
            }
            if (PollingInterval.toString() == "") {
                alert("Please Enter PollingInterval ");
                return false;
            }
            $("#Form1").unbind('submit').submit(); S
        });
    });
</script>



@using (Html.BeginForm("Edit", "RGSInsMgr", FormMethod.Post, new { Id = "Form1" }))
{
    <html>
    <body>
        <br>
        <table class="spacing-table" style="border-collapse:separate;border-spacing: 0 5px;">
            <tr>
                <td>

                    <label for="IMId">IM Id</label>

                </td>
                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.IMId, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </td>


                <td></td>
            </tr>
            <tr>
                <td>
                    <label for="Host">Host</label>
                </td>
                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.Host, new { @class = "form-control", id = "Host" })
                        @Html.ValidationMessageFor(model => model.Host)
                    </div>
                </td>
                <td>
                    <label for="Port">Port</label>
                </td>

                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.Port, new { @class = "form-control", id = "Port" })
                        @Html.ValidationMessageFor(model => model.Port)
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <label for="PollingInterval">Polling Interval</label>
                </td>

                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.PollingInterval, new { @class = "form-control", id = "PollingInterval" })
                        @Html.ValidationMessageFor(model => model.PollingInterval)
                    </div>
                </td>
                <td>
                    <label for="isPrimary">Primary</label>
                </td>

                <td>
                    <div class="">
                        @Html.EditorFor(model => model.isPrimary)
                        @Html.ValidationMessageFor(model => model.isPrimary)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="EventId">Created By</label>
                </td>
                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.CreatedByName, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                    </div>
                </td>
                <td>
                    <label for="EventId">Created Date</label>
                </td>
                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <label for="EventId">Modified By</label>
                </td>
                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.ModifiedByName, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                    </div>
                </td>
                <td>
                    <label for="EventId">Modified Date</label>
                </td>
                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.ModifiedDate, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <button style="margin:10px" class="btn-xs btn-info glyphicon glyphicon-hand-left" type="button" onclick="location.href = 'GetList';" );"> Back</button>
                </td>
                <td>                 
                        <button type="submit" class="btn-xs  btn-info glyphicon glyphicon-save save"> Save</button>                   
                </td>

            </tr>

        </table>
    </body>
</html>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
