@model SmartSys.BL.Tmleave.TimeSheetDlyEntryList
@{
    ViewBag.Title = "TMEntryApprovalList";
}

<div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-list  text-info">
    Time Sheet Detail
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Approve').click(function () {
            var ApproverRemark = $('#ApproverRemark').val();
            var TimeSheetId =@Model.TimeSheetId;
            var Remark = $('#Remark').val();           
            var path = '@Url.Content("~/TMLeave/ApproveRejectTimesheetEntryDetails")' + "?statusCode=" + 24 + "&ApproverRemark=" + Remark + "&TimeSheetId=" + TimeSheetId
            event.preventDefault();
            window.location.replace(path);
        });
        $('#Reject').click(function () {

            var ApproverRemark = $('#ApproverRemark').val();

            var TimeSheetId = @Model.TimeSheetId;

            var Remark = $('#Remark').val();
            var path = '@Url.Content("~/TMLeave/ApproveRejectTimesheetEntryDetails")' + "?statusCode=" + 25 + "&ApproverRemark=" + Remark + "&TimeSheetId=" + TimeSheetId
            event.preventDefault();
            window.location.replace(path);
        });
        $('#cancel').click(function () {
            var ApproverRemark = $('#ApproverRemark').val();

            var TimeSheetId = @Model.TimeSheetId;

            var Remark = $('#Remark').val();
            var path = '@Url.Content("~/TMLeave/ApproveRejectTimesheetEntryDetails")' + "?statusCode=" + 20 + "&ApproverRemark=" + Remark + "&TimeSheetId=" + TimeSheetId
            event.preventDefault();
            window.location.replace(path);
        });
    });
        </script>
        <html>
        <head>
            <title>WebgridSample</title>

    </head>
    <body>
      
                @(Html.EJ().Grid<SmartSys.BL.SysDBCon.SysDBConModel>("grdProViews")
                           .Datasource((IEnumerable<object>)ViewBag.TimeDheetDetail)
        .AllowFiltering()
        .ToolbarSettings(toolBar => toolBar.ShowToolbar().ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.ExcelExport);
            }))
        .AllowPaging()
        .AllowSorting()
        .EnableHeaderHover()
        .AllowResizing()
        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
        .AllowScrolling()
        .AllowFiltering(true)
        .PageSettings(p => { p.PageSize(20); })
                
        .EnableAltRow(true)
        .EditSettings(e => e.AllowAdding().AllowEditing().EditMode(EditMode.DialogTemplate).DialogEditorTemplateID("#template"))
        .Columns(col =>
        {
            col.Field("TimeSheetEntryDetailId").IsPrimaryKey(true).HeaderText("Time Sheet Entry DetailId").TextAlign(TextAlign.Center).Width(160).Visible(false).Add();
            col.Field("EmployeeName").HeaderText("Employee Name").TextAlign(TextAlign.Center).Width(160).Add();
            col.Field("TimeSheetId").HeaderText("TimeSheet Id").TextAlign(TextAlign.Center).Width(160).Add();
            col.Field("ProjectName").HeaderText("Project Name").TextAlign(TextAlign.Left).ValidationRules(v => v.AddRule("required", true)).Width(200).Add();
            col.Field("TaskName").HeaderText("Task Name").TextAlign(TextAlign.Left).Width(200).Add();
            col.Field("WeekNo").HeaderText("PWeekNo").TextAlign(TextAlign.Left).Width(160).Add();
            col.Field("StatusShortCode").HeaderText("Status").TextAlign(TextAlign.Left).Width(80).Add();
            col.Field("StartDateStr").HeaderText("Start Date").Width(120).Add();
            col.Field("DayText").AllowEditing(false).HeaderText("Day").Width(100).Add();
            col.Field("CustomerName").AllowEditing(false).HeaderText("Customer Name").Width(100).Add();
            col.Field("VendorName").AllowEditing(false).HeaderText("Vendor Name").Width(100).Add();
            col.Field("MOMTitle").AllowEditing(false).HeaderText("MOM Title").Width(100).Add();
            col.Field("MOMId").Visible(true).AllowEditing(false).HeaderText("MOMId").Width(100).Add();
            col.Field("FromTime").AllowEditing(true).HeaderText("From Time").Format("{0:HH:MM}").Width(120).Add();
            col.Field("ToTime").AllowEditing(false).HeaderText("To Time").Format("{0:HH:MM}").Width(120).Add();
            col.Field("TotalTime").AllowEditing(false).HeaderText("Total Time(MIN)").Width(120).Add();
            col.Field("ApproverName").HeaderText("Approver").TextAlign(TextAlign.Left).ValidationRules(v => v.AddRule("required", true)).Width(120).Add();
            col.Field("ApprovedDateStr").AllowEditing(false).HeaderText("Approved Date").Width(150).Add();
            col.Field("ApproverRemark").HeaderText("Approver Remark").TextAlign(TextAlign.Left).ValidationRules(v => v.AddRule("required", true)).Width(180).Add();
            col.Field("Remark").HeaderText("Remark").TextAlign(TextAlign.Left).ValidationRules(v => v.AddRule("required", true)).Width(110).Add();
            col.Field("CreatedByName").AllowEditing(false).HeaderText("Created By").Width(150).Add();
            col.Field("CreatedDateStr").AllowEditing(false).HeaderText("Created Date").Width(120).Add();
            col.Field("ModifiedByName").AllowEditing(false).HeaderText("Modified By").Width(150).Add();
            col.Field("ModifiedDateStr").AllowEditing(false).HeaderText("Modified Date").Width(150).Add();

        })
                 .ClientSideEvents(eve =>
                    {

                        eve.ContextClick("contextclick");

                    })
                )           
</body>
</html>
<br>
<table>
    <tr>
        
        <td width="15px"></td>
        <td>
         <b>Manager Remark:</b> 
        </td>
        <td>
            @Html.TextAreaFor(model => model.ApproverRemark, new {@class="form-control",@maxlength="150", @style = "min-width:500px;max-width:1000px", id = "Remark" })
        </td>
    </tr>
    <tr>
        <td>
            <div class="btn" aria-label="...">
                @Html.ActionLink(" Back", "TMPendingTimesheetApproval", null, new { @class = "btn-xs buttonCss btn-info glyphicon glyphicon-hand-left" })
            </div>
        </td>
        <td>
            <div class="btn" aria-label="...">
                <a class="btn-xs buttonCss btn-success glyphicon glyphicon-ok-circle text-success Review" id="Approve">
                    <b>Approve</b>
                </a>
            </div>
        </td>
        <td>
            <div class="btn" aria-label="...">
                <a class="btn-xs buttonCss btn-danger glyphicon glyphicon-remove-circle Review" id="Reject">
                    Reject
                </a>
            </div>
        </td>
       
    </tr>
</table>
<script type="text/template" id="template">
    <b>TimeSheet Entry Detail</b>
    <table cellspacing="10" style="width:100%">
        <tr id="IDs">
            <td style="text-align: right; width:100px">
                TimeSheet Id
            </td>
            <td style="text-align: left">
                <input id="ProjectId" name="ProjectId" value="{{: TimeSheetId}}" disabled="disabled" class="e-field e-ejinputtext valid e-disable"
                       style="text-align: right; width: 116px; height: 28px" />
            </td>

        </tr>
        <tr>
            <td style="width:120px; text-align: right;">
                Employee Name
            </td>
            <td style="text-align: left">
                <input type="text" id="ProjectName" disabled="disabled" name="ProjectName" class="form-control" value="{{:EmployeeName}}" />
            </td>
            <td style="width:100px; text-align: right;">
                Project Name
            </td>
            <td style="text-align: left">
                <input type="text" id="ProjectName" disabled="disabled" name="ProjectName" class="form-control" value="{{:ProjectName}}" />
            </td>
            <td style="width:100px; text-align: right;">
                Task Name
            </td>
            <td style="text-align: left">
                <input type="text" id="ProjectName" disabled="disabled" name="ProjectName" class="form-control" value="{{:TaskName}}" />
            </td>
        </tr>

        <tr>
            <td style="width:120px; text-align: right;">
                Week No
            </td>
            <td style="text-align: left">
                <input type="text" id="ProjectName" disabled="disabled" name="ProjectName" class="form-control" value="{{:WeekNo}}" />
            </td>
            <td style="width:100px; text-align: right;">
                Status
            </td>
            <td style="text-align: left">
                <input type="text" id="ProjectName" disabled="disabled" name="ProjectName" class="form-control" value="{{:StatusShortCode}}" />
            </td>
            <td style="width:100px; text-align: right;">
                Start Date
            </td>
            <td style="text-align: left">
                <input type="text" id="ProjectName" disabled="disabled" name="ProjectName" class="form-control" value="{{:StartDateStr}}" />
            </td>
        </tr>

        <tr>
            <td style="width:120px; text-align: right;">
                Day
            </td>
            <td style="text-align: left">
                <input type="text" id="ProjectName" disabled="disabled" name="ProjectName" class="form-control" value="{{:DayText}}" />
            </td>
            <td style="width:100px; text-align: right;">
                From Time
            </td>
            <td style="text-align: left">
                <input type="text" id="ProjectName" disabled="disabled" name="ProjectName" class="form-control" value="{{:FromTime}}" />
            </td>
            <td style="width:100px; text-align: right;">
                To Time
            </td>
            <td style="text-align: left">
                <input type="text" id="ProjectName" disabled="disabled" name="ProjectName" class="form-control" value="{{:ToTime}}" />
            </td>
        </tr>

        <tr>
            <td style="width:100px; text-align: right;">
                Created Date
            </td>
            <td style="text-align: left">
                <input type="text" id="ProjectName" disabled="disabled" name="ProjectName" class="form-control" value="{{:CreatedDateStr}}" />
            </td>
            <td style="width:100px; text-align: right;">
                Modified Date
            </td>
            <td style="text-align: left">
                <input type="text" id="ProjectName" disabled="disabled" name="ProjectName" class="form-control" value="{{:ModifiedDateStr}}" />
            </td>
            <td style="width:100px; text-align: right;">
                Approved Date
            </td>
            <td style="text-align: left">
                <input type="text" id="ProjectName" disabled="disabled" name="ProjectName" class="form-control" value="{{:ApprovedDateStr}}" />
            </td>
        </tr>

        <tr>
            <td style="width:120px; text-align: right;">
                Created By
            </td>
            <td style="text-align: left">
                <input type="text" id="ProjectName" disabled="disabled" name="ProjectName" class="form-control" value="{{:CreatedByName}}" />
            </td>

            <td style="width:100px; text-align: right;">
                Modified By
            </td>
            <td style="text-align: left">
                <input type="text" id="ProjectName" disabled="disabled" name="ProjectName" class="form-control" value="{{:ModifiedByName}}" />
            </td>
            <td style="width:120px; text-align: right;">
                Approver Name
            </td>
            <td style="text-align: left">
                <input type="text" id="ProjectName" disabled="disabled" name="ProjectName" class="form-control" value="{{:ApproverName}}" />
            </td>

        </tr>
        <tr>
            <td style="width:100px; text-align: right;">
                Customer Name
            </td>
            <td style="text-align: left">
                <input type="text" id="CustomerName" disabled="disabled" name="CustomerName" class="form-control" value="{{:CustomerName}}" />
            </td>
            <td style="width:100px; text-align: right;">
                Vendor Name
            </td>
            <td style="text-align: left">
                <input type="text" id="VendorName" disabled="disabled" name="VendorName" class="form-control" value="{{:VendorName}}" />
            </td>
            <td style="width:100px; text-align: right;">
                {{if MOMId != 0}}
                <a href="/ProjectCenter/CreateProjectTAskMOM?MOMId={{:MOMId}} &tabIndex=0">MOM Title </a>
                {{else}}

                {{/if}}
            </td>
            <td style="text-align: left">
                <input type="text" id="MOMTitle" disabled="disabled" name="MOMTitle" class="form-control" value="{{:MOMTitle}}" />
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align: right;">
                Approver Remark
            </td>
            <td style="text-align: left">
                <textarea disabled="disabled" cols=30 rows=6 class="form-control" value="">{{:ApproverRemark}}</textarea>
            </td>
            <td style="width:100px; text-align: right;">
                Remark
            </td>
            <td style="text-align: left">
                <textarea disabled="disabled" cols=30 rows=6 class="form-control" value="">{{:Remark}}</textarea>
            </td>
        </tr>

    </table>
</script>