@model SmartSys.BL.Report
<div class="page-header glyphicon glyphicon-leaf  text-info">
    Edit RDS Report
</div>

@using (Html.BeginForm("RDSEditReport", "RDSReport", FormMethod.Post, new { Id = "Form1" }))
{


    <table>
        <tr>
            <td>
                <label for="ReportId">Report Id </label>
            </td>
            <td>
                <div class="navbar-text">
                    @Html.TextBoxFor(model => model.ReportId, new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.ReportId, "", new { @class = "text-danger" })
                </div>

            </td>

            <td>
                <label for="VendorName">Report Name </label>
            </td>
            <td>
                <div class="navbar-text">
                    @Html.EditorFor(model => model.ReportName)
                    @Html.ValidationMessageFor(model => model.ReportName, "", new { @class = "text-danger" })
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <label for="ReportType">ReportType </label>
            </td>
            <td>
                <div class="navbar-text">
                    @Html.TextBoxFor(model => model.ReportType, new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.ReportType, "", new { @class = "text-danger" })
                </div>

            </td>
            <td>
                <label for="VendorName">Business Line </label>
            </td>
            <td>
                <div class="navbar-text">
                    @Html.DropDownList("BusinessLineId", (IEnumerable<SelectListItem>)ViewBag.ListOfBL, " Please Select Business Line", new { style = "max-width: 600px;" })
                </div>

            </td>

            <td>
                <label for="CreatedBy">Created By </label>
            </td>
            <td>
                <div class="navbar-text">
                    @Html.TextBoxFor(model => model.CreatedBy, new { @readonly = "readonly", style = "width:200px;" })
                    @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="CreatedDate">Created Date </label>
            </td>
            <td>
                <div class="navbar-text">
                    @Html.TextBoxFor(model => model.CreatedDate, new { @readonly = "readonly", style = "width:180px;" })
                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                </div>

            </td>
            <td>
                <label for="ModifiedBy">Modified By </label>
            </td>
            <td>
                <div class="navbar-text">
                    @Html.TextBoxFor(model => model.ModifiedBy, new { @readonly = "readonly", style = "width:200px;" })
                    @Html.ValidationMessageFor(model => model.ModifiedBy, "", new { @class = "text-danger" })
                </div>

            </td>

            <td>
                <label for="ModifiedDate">Modified Date </label>
            </td>
            <td>
                <div class="navbar-text">
                    @Html.TextBoxFor(model => model.ModifiedDate, new { @readonly = "readonly", style = "width:180px;" })
                    @Html.ValidationMessageFor(model => model.ModifiedDate, "", new { @class = "text-danger" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink(" Back", "ReportList", null, new { @class = "btn btn-info glyphicon glyphicon-hand-left" })
            </td>
            <td>
                <div class="btn" aria-label="...">
                    <button type="submit" class="btn btn-info glyphicon glyphicon-save"> Save</button>
                </div>
            </td>
        </tr>
    </table>
}
