@model SmartSys.BL.DW.ItemModel

<style>
    td {
        padding-right: 15px;
    }
</style>
<div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-pencil  text-info">
    Edit DW Item
</div>
<script src="~/Scripts/MultiSelectLocal.js"></script>
<link href="~/Content/MultiSelectLocal.css" rel="stylesheet" />
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.full.min.js"></script>


<script type="text/javascript">
    $(function () {

        $(".drp").select2({
            placeholder: "Please Select a Item Category",
            allowClear: true,
            maximumSelectionLength: 2

        });
    });
    $(function () {

        $(".drp1").select2({
            placeholder: "Please Select a Brand",
            allowClear: true,
            maximumSelectionLength: 2

        });
    });

</script>
<script>
    $(document).ready(function () {
        $('.save').click(function (e) {
            var Itemname = $('#Itemname').val();
            var PurchaseRate = $('#PurchaseRate').val();
            var SaleRate = $('#SaleRate').val();
            var ItemCategory = $('#ItemCategory').val();
            var mpn = $("#mpn").val();

            if (Itemname.toString() == "") {
                alert("Please Enter Item Name ");
                return false;
            }

            if (ItemCategory.toString() == "") {
                alert("Please Select Category");
                return false;
            }
            if (mpn.toString() == "") {
                alert("Please Enter the manufacturing part number(MPN)");
                return false;
            }
            if (PurchaseRate.toString() == "") {
                alert("Please Enter  PurChase Rate");
                return false;
            }
            if (SaleRate.toString() == "") {
                alert("Please Enter Sale Rate");
                return false;
            }

            $("#Form1").unbind('submit').submit();
        });


    });

</script>
<script>
    $(document).ready(function () {
        $('.save').click(function (e) {

            var Itemname = $('#ItemName').val();
            var PurchaseRate = $('#PurchaseRate').val();
            var SaleRate = $('#SaleRate').val();
            var ItemCategory = $('#ItemCategory').val();
            var mpn = $("#mpn").val();
            if (ItemCategory.toString() == "") {
                alert("Please Select Category");
                return false;
            }

            if (Itemname.toString() == "") {
                alert("Please Enter Item Name ");
                return false;
            }
            if (mpn.toString() == "") {
                alert("Please Enter the manufacturing part number(MPN)");
                return false;
            }
            if (PurchaseRate.toString() == "") {
                alert("Please Enter  PurChase Rate");
                return false;
            }
            if (SaleRate.toString() == "") {
                alert("Please Enter Sale Rate");
                return false;
            }
        
            $("#Form1").unbind('submit').submit();
        });
    });

</script>

@using (Html.BeginForm("EditItem", "DWItem", FormMethod.Post, new { Id = "Form1" }))
{
    <html>
    <body>
        <br>
        <table style="border-collapse:separate;border-spacing: 0 5px;">
            <tr>
                <td>
                    <label for="ItemId">Item Id </label>
                </td>
                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.ItemId, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </td>
                <td>
                    <label for="ItemId">Item Category: </label>
                </td>
                <td>
                    <div class="">
                        @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.ItemCategory, "Please Select Item Category", new { id = "ItemCategory", @class = "drp form-control", @style = "width:300px" })
                    </div>
                </td>
                <td>
                    <label for="BrandId">Brand: </label>
                </td>
                <td>
                    <div class="">
                        @Html.DropDownList("BrandId", (IEnumerable<SelectListItem>)ViewBag.BrandList, "Please Select The Brand", new { id = "BrandID", @class = "drp1 form-control", @style = "width:300px" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="ItemName">Item Name</label>
                </td>

                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.ItemName, new { required = "required", @class = "form-control", id = "ItemName", @style = "width:400px" })
                        @Html.ValidationMessageFor(model => model.ItemName)
                    </div>
                </td>
                <td>
                    <label for="mpn">MPN</label>
                </td>
                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.MPN, new { id = "mpn", required = "required", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MPN)
                    </div>
                </td>
                <td>
                    <label for="IsActive">IsActive </label>
                </td>
                <td>
                    <div class="">
                        @Html.EditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Purchase Rate</label>
                </td>
                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.PurchaseRate, new { id = "PurchaseRate", required = "required", @class = "form-control", @type = "Number", @step = "0.01" })
                        @Html.ValidationMessageFor(model => model.MPN)
                    </div>
                </td>
                <td>
                    <label for="">Sale Rate </label>
                </td>
                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.SaleRate, new { id = "SaleRate", required = "required", @class = "form-control", @type = "Number", @step = "0.01" })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Modified By">Created By </label>
                </td>

                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.CreatedBy, new { @readonly = "readonly", @class = "form-control", @style = "width:300px" })
                    </div>

                </td>
                <td>
                    <label for="ModifiedDate">Created Date</label>
                </td>

                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.CreatedDate, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <label for="Modified By">Modified By </label>
                </td>

                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.ModifiedByName, new { @readonly = "readonly", @class = "form-control", @style = "width:300px" })
                    </div>

                </td>
                <td>
                    <label for="ModifiedDate">Modified Date</label>
                </td>

                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.ModifiedDate, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </td>

            </tr>

            <tr>
                <td>
                    <button style="margin:10px" class="btn-xs btn-info glyphicon glyphicon-hand-left" type="button" onclick="location.href = 'GetItemList';" );"> Back</button>
                        <button type="submit" class="btn-xs buttonCss btn-info glyphicon glyphicon-save save"> Save</button>
                </td>
            </tr>
        </table>
    </body>
</html>
}

