@model SmartSys.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}


<style>
    .bgcolor {
        background: -webkit-linear-gradient(left,#cfb172,#769c9c);
    }
</style>
<body class="bgcolor">
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading" style="background-color:aquamarine">
                    <div class="panel-title">Change Password</div>
                    @*<div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>*@
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old Password" })

                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                            @*<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">*@
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New  password" })

                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            @*<input id="login-password" type="password" class="form-control" name="password" placeholder="password">*@
                        </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                @*<input id="login-password" type="password" class="form-control" name="password" placeholder="password">*@
                            </div>

                            <div style="margin-top:10px" class="form-group">
                                <!-- Button -->
                                <div class="col-sm-12 controls">
                                    <input id="btn-login" type="submit" class="btn btn-success" value="Change Password" />
                                </div>
                            </div>



                    }
                </div>
            </div>
        </div>
    </div>
</body>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}