@model IEnumerable<SmartSys.BL.SysTaskModel>
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />


<div class="control">
    @if (Model.Count() > 0)
    {

        if (ViewBag.Compcode == "SAJ")
        {
            <label style="font-size:14px;margin-top:-1px;color:white;font-family:Cambria" class="Week">&nbsp; &nbsp;<img src="~/Content/themes/Logo-SAJ.JPG" height="25" width="40" /><a style="color:bisque">&nbsp; &nbsp;CURRENT WEEK :</a> <a style="color:white">@ViewBag.WeekNO</a> ,<a style="color:bisque">&nbsp;&nbsp;DATE :</a> <a style="color:white">@ViewBag.DateTime</a>,<a style="color:bisque">&nbsp;&nbsp;&nbsp;LOGIN AS :</a> <a style="color:white"> @ViewBag.LoginAs&nbsp; &nbsp; &nbsp; &nbsp;</a></label>
        }

        else
        {
            <label style="font-size:14px;margin-top:-1px;color:white;font-family:Cambria" class="Week">&nbsp; &nbsp;<img src="~/Content/themes/Advent-Logo.jpg" height="25" width="80" /><a style="color:bisque">&nbsp; &nbsp;CURRENT WEEK :</a> <a style="color:white">@ViewBag.WeekNO</a>,<a style="color:bisque">&nbsp;&nbsp;DATE :</a> <a style="color:white">@ViewBag.DateTime</a>,<a style="color:bisque">&nbsp;LOGIN AS :</a> <a style="color:white"> @ViewBag.LoginAs &nbsp; &nbsp;</a></label>
        }
        <div class="dropdown">
            <button class="dropbtn glyphicon glyphicon-cog"></button>
            <div class="dropdown-content">
                <a style="text-align:left" class="btn btnOpen"><i  class="btnOpen fa fa-calculator"> Calculator</i></a>
                @*<a style="text-align:left" class="btn  Currency"><i  class="fa fa-exchange"> Currency Converter </i></a>*@ 
                <a style="text-align:left" class="btn  TODO"><i class="fa fa-book"> TO DO </i></a>                             
            </div>
        </div>    
       
        <div style="padding-top:0px;height:0px;background-color:aqua">

            @Html.EJ().Menu("syncfusionProducts").IsResponsive(true).MenuFields(f => f.Datasource((IEnumerable<SmartSys.BL.SysTaskModel>)Model).Id("MenuId").Text("MenuName").ParentId("ParentMenuId").Url("Href"))
        </div>
    }
</div>

<style>
    /*.btnOpen
    {
          color: white;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          font-weight:bold

    }*/

    .dropbtn {
        background-color: #f0ad4e;
        color: white;
        padding: 3px;
        font-size: 16px;
        border: none;
        border-radius:4px;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #5bc0de;
        min-width: 60px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: white;
            padding: 2px 2px;
            text-decoration:solid;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #5bc0de;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #ff6a00;
    }
</style>

@{

         Html.EJ()
        .Dialog("Calculator")
        .Width(350)
        .Height(500)
        .ShowOnInit(false)
        .Title("Calculator")
        .Render();
        
}
    <script>
        function openDialog() {
            $("#Calculator").ejDialog("open");
        }
        function openNestedDialog() {
            $("#Calculator").ejDialog("open");
        }
    </script>

    <script>

        $(document).ready(function () {           
            $(".btnOpen").click(function (e) {
                var path = '@Url.Content("~/Home/Calculator")'               
                $("#Calculator").ejDialog({
                    contentUrl: path,
                    contentType: "ajax"
                });               
                $("#Calculator").ejDialog("open");
            });
        })
    </script>
@{

    Html.EJ()
   .Dialog("Currency")
   .Title("Currency Converter")
   .Width(300)
   .Height(300)
   .ShowOnInit(false)
   .Render();
}
<script>
        function openDialog() {
            $("#Currency").ejDialog("open");
        }
        function openNestedDialog() {
            $("#Currency").ejDialog("open");
        }
</script>

<script>

        $(document).ready(function () {
            $(".Currency").click(function (e) {
                var path = '@Url.Content("~/Home/CurrencyConverter")'
                $("#Currency").ejDialog({
                    contentUrl: path,
                    contentType: "ajax"
                });
                $("#Currency").ejDialog("open");
            });
        })
    $(document).ready(function () {
        $(".TODO").click(function (e) {
            var path = '@Url.Content("~/Enquiry/AllPendingWork")'
            event.preventDefault();
            window.location.replace(path);
        });
    })
</script>
    @Html.EJ().ScriptManager()