@model   IEnumerable<SmartSys.BL.Enquiry.ReceiptModel>

@{
   
}
<div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-list  text-info">
    Freight Forwarder Charges List
</div>

<div style="margin-bottom:8px;margin-top:5px">
    @Html.ActionLink(" Create", "CreateFFCharges", new { RID = 0 }, new { @class = "btn-xs btn-info glyphicon glyphicon-leaf" })
</div>
    <div style="position:relative">
        @(Html.EJ().Grid<SmartSys.BL.Enquiry.EnquiryModel>("grdDWEnquiry")
                .Datasource((IEnumerable<object>)@Model)
        .AllowFiltering()
        .AllowPaging()
        .AllowSorting()
        .EnableHeaderHover()
                .PageSettings(p => { p.PageSize(20); })
        .AllowResizing()
        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
        .AllowScrolling()
        .ToolbarSettings(toolBar => toolBar.ShowToolbar().ToolbarItems(items =>
                {
                    items.AddTool(ToolBarItems.ExcelExport);
                }))
             .Mappers(map => map.ExportToExcelAction(@Url.Action("ExportFFChargesLst")))
         .ToolbarSettings(toolbar => { toolbar.ShowToolbar().ToolbarItems(items => { items.AddTool(ToolBarItems.Search); }); })
        .EnableAltRow(true)

               .ContextMenuSettings(contextMenu =>
               {
                   contextMenu.EnableContextMenu();
                   contextMenu.DisableDefaultItems();
                   contextMenu.CustomContextMenuItems(c =>
                   {
                       c.AddItem("Add_Record", "Add Record");
                       c.AddItem("Edit_Record", "Edit Record");
                   });

               })
        .Columns(col =>
        {
            col.Field("ReceiptId").HeaderText("ID").IsPrimaryKey(true).TextAlign(TextAlign.Center).Width(60).Add();
            col.Field("FreightInvNo").HeaderText("Freight Invoice No").IsPrimaryKey(true).TextAlign(TextAlign.Left).Width(120).Add();
            col.Field("Amount").HeaderText("Amount").TextAlign(TextAlign.Center).ValidationRules(v => v.AddRule("required", true)).Width(200).Add();
            col.Field("FreightInvDate").HeaderText("Invoice Date").Format("{0:MM/dd/yyyy  HH:MM}").TextAlign(TextAlign.Left).Width(200).Add();
            col.Field("FrieghtInvReceivedDate").HeaderText("Invoice Received Date").Format("{0:MM/dd/yyyy  HH:MM}").TextAlign(TextAlign.Left).ValidationRules(v => v.AddRule("required", true)).Width(200).Add();
            col.HeaderText("Edit").Commands(command =>
            {
                command.Type(UnboundType.Edit)

                       .ButtonOptions(new Syncfusion.JavaScript.Models.ButtonProperties()
                       {
                           CssClass = "EditBtn",
                           Text = "Edit",
                           ContentType = ContentType.ImageTextImage,
                           PrefixIcon = "e-edit",
                           Height = "22px",
                           Size = ButtonSize.Mini
                       }).Add();

            })
            .AllowFiltering(false)
            .Template("#BtnEdit")

            .TextAlign(TextAlign.Center)
            .Width(60)
            .Add();

        })
        .ClientSideEvents(eve => { eve.ContextClick("contextclick"); })
        )
    </div>
    <script id="BtnEdit" type="text/x-jsrender">
        <a class="btn-xs btn-info  glyphicon glyphicon-pencil black" href="/Enquiry/CreateFFCharges?RID={{:ReceiptId}}"></a>
    </script>

<script>
    function contextclick(args) {
        if (args.text == "Add Record") {
            var tempData = args.text;
     
            var path = '@Url.Content("~/Enquiry/CreateFFCharges")' + "?RID=" + 0
            event.preventDefault();
            window.location.replace(path);
        }
        else
        if (args.text == "Edit Record") {
                var tempData = args.text;
                var grid = $("#grdDWEnquiry").ejGrid("instance");
                var result = this.getSelectedRecords();
                var ReceiptId = result[0]["ReceiptId"];
                var path = '@Url.Content("~/Enquiry/CreateFFCharges")' + "?RID=" + ReceiptId
                event.preventDefault();
                window.location.replace(path);
            }
    }

</script>

