@model SmartSys.BL.Enquiry.EnquiryModel
<div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-list  text-info">
    Quotation  Detail
</div>

<style>
    td {
        padding-right: 15px;
    }
</style>
<table style="border-collapse:separate;border-spacing: 0 6px; ">

    @foreach (var item in @Model.QuotList)
    {
        <tr>
            <td>
                <label>Enquiry No:</label>
            </td>
            <td>
                <div class="">
                    @Html.TextBox("EnqId", item.EnqId, new { @readonly = "", @class = "form-control" })
                </div>
            </td>
            <td>
                <label>
                    Term:
                </label>
            </td>
            <td>
                <div class="">
                    @Html.TextBox("Terms", item.Terms, new { @readonly = "", @class = "form-control" })
                </div>
            </td>
            <td>
                <label>Customer:</label>
            </td>
            <td>
                <div class="">
                    @Html.TextBox("CustomerName", item.CustomerName, new { @Readonly = "", @style = "width:250px", @class = "form-control" })
                </div>
            </td>
        </tr>
        <tr>
            <td style="display:none">
                <div class="">
                    @Html.TextBox("QuitId", item.QuotationId, new { @class = "form-control", id = "QuotationId", @readonly = "" })
                </div>
            </td>
            <td>
                <label>Quotation Number:</label>
            </td>
            <td>
                <div class="">
                    @Html.TextBox("QuotationNumber", item.QuotationNumber, new { @class = "form-control", id = "QuotationNumber", @readonly = "" })
                </div>
            </td>
            <td>
                <label>Quot Date:</label>
            </td>
            <td>
                <div class="">
                    @Html.TextBox("QuotDate", item.QuotDate, new { @class = "form-control", id = "", @readonly = "" })
                </div>
            </td>
            <td>
                <label>Status </label>
            </td>
            <td>
                <div class="">
                    @Html.TextBox("Status", item.Status, new { @class = "form-control", id = "", @readonly = "" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Modified By:</label>
            </td>
            <td>
                <div class="">
                    @Html.TextBox("ModifiedBy", item.ModifiedBy, new { @class = "form-control", id = "", @readonly = "" })
                </div>
            </td>
            <td>
                <label>Modified Date </label>
            </td>
            <td>
                <div class="">
                    @Html.TextBox("ModifiedDate", item.modifyDt, new { @class = "form-control", id = "", @readonly = "" })
                </div>
            </td>
        </tr>

    }
</table>
<br />
<br />
@Html.HiddenFor(model => model.CustomerId)
@Html.HiddenFor(model => model.EnqId)
<div>

    <div style="position:relative">
    @(Html.EJ().Grid<SmartSys.BL.Enquiry.EnquiryItemVendorResponseDetailModel>("grdVendrespLst")
                        .Datasource((IEnumerable<object>)@ViewBag.CustItemList)
                        .AllowFiltering()
                        .AllowPaging()
                        .AllowSorting()
                        .EnableHeaderHover()
                                .PageSettings(p => { p.PageSize(20); })
                        .AllowResizing()
                        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
                        .AllowScrolling()

                        .EnableAltRow(true)
                        .AllowSorting(true)
                        .Columns(col =>
                        {
                            col.Field("ItemId").HeaderText("Id").IsPrimaryKey(true).TextAlign(TextAlign.Center).Width(30).Add();
                            col.Field("ItemName").HeaderText("Item Name").IsPrimaryKey(true).TextAlign(TextAlign.Center).Width(80).Add();
                            col.Field("MPN").HeaderText("MPN").IsPrimaryKey(true).TextAlign(TextAlign.Center).Width(80).Add();
                            col.Field("CPN").HeaderText("CPN").IsPrimaryKey(true).TextAlign(TextAlign.Center).Width(80).Add();
                            col.Field("BrandName").HeaderText("Brand Name").IsPrimaryKey(true).TextAlign(TextAlign.Center).Width(80).Add();
                            //col.Field("Rate").HeaderText("Purchase Rate").Format("{0:N4}").IsPrimaryKey(true).TextAlign(TextAlign.Center).Width(50).Add();
                            col.Field("CRate").HeaderText("Sale Rate").Format("{0:N4}").IsPrimaryKey(true).TextAlign(TextAlign.Center).Width(50).Add();
                           // col.Field("Margin").HeaderText("Margin %").Format("{0:N4}").TextAlign(TextAlign.Center).Width(70).Add();
                            col.Field("Currency").HeaderText("Currancy").TextAlign(TextAlign.Center).Width(50).Add();
                            col.Field("Quantity").HeaderText("Quantity").IsPrimaryKey(true).TextAlign(TextAlign.Center).Width(50).Add();
                            col.Field("SPQ").HeaderText("SPQ").IsPrimaryKey(true).TextAlign(TextAlign.Left).Width(50).Visible(true).Add();
                            col.Field("MOQ").HeaderText("MOQ").IsPrimaryKey(true).TextAlign(TextAlign.Left).Width(50).Visible(true).Add();
                            col.Field("VendorPromiseDate").HeaderText("Lead Time").IsPrimaryKey(true).TextAlign(TextAlign.Left).Width(60).Visible(true).Add();
                            col.Field("Remark").HeaderText("Remark").TextAlign(TextAlign.Left).Width(80).Add();
                        })
                )
            </div>
</div>

@Html.EJ().ScriptManager()