@model SmartSys.BL.BOMAdmin.VendorBrandModel

@{
    ViewBag.Title = "CreateBrand";
}
<style>
    td {
        padding-right: 15px;
    }
</style>
@if (Model.BrandId > 0)
{
    <div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-pencil  text-info">
        Edit Brand
    </div>
}
else
{
    <div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-leaf  text-info">
        Create Brand
    </div>
}
<script>
    $(document).ready(function () {
        $('.save').click(function (e) {
            e.preventDefault();
            var BrandName = $('#BrandName').val();
            if (BrandName.toString() == "") {
                alert("Please Enter Brand Name ");
                return false;
            }
            $("#Form1").unbind('submit').submit(); S
        });
    });
</script>
<link rel="stylesheet" href="~/Content/spaceAndButton.css">
@using (Html.BeginForm("CreateBrand", "BOMAdmin", FormMethod.Post, new { Id = "Form1" }))
{

    <html>
    <body>
        <br>
        <table class="spacing-table" style="border-collapse:separate;border-spacing: 0 5px;">


            <tr>
                @if (Model.BrandId > 0)
                {
                    <td>
                        <label for="BrandId">BrandId </label>
                    </td>

                    <td>
                        <div class="">
                            @Html.TextBoxFor(model => model.BrandId, new { @readonly = "readonly", @class = "form-control", id = "BrandId" })
                            @Html.ValidationMessageFor(model => model.BrandId)
                        </div>
                    </td>
                }
                else
                {
                    @Html.HiddenFor(model => model.BrandId)
                }
                <td>
                    <label for="BrandName">BrandName</label>
                </td>

                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.BrandName, new { id = "BrandName", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BrandName)
                    </div>
                </td>
            </tr>
            @if (Model.BrandId > 0)
            {
                <tr>

                    <td>
                        <label for="CreatedBy">Created By</label>
                    </td>

                    <td>
                        <div class="">
                            @Html.TextBoxFor(model => model.CreatedBy, new { @readonly = "readonly", id = "CreatedBy", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CreatedBy)
                        </div>
                    </td>


                    <td>
                        <label for="Created Date">Created Date</label>
                    </td>

                    <td>
                        <div class="">
                            @Html.TextBoxFor(model => model.CreatedDate, new { @readonly = "readonly", id = "CreatedDate", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CreatedDate)
                        </div>
                    </td>
                </tr>
            }
            <tr>
                <td>                  
                    <button style="margin:10px" class="btn-xs btn-info glyphicon glyphicon-hand-left" type="button" onclick="location.href = 'BrandList';" );"> Back</button>
                    <button type="submit" class="btn-xs buttonCss btn-info glyphicon glyphicon-save save"> Save</button>
                </td>
            </tr>
        </table>
    </body>
</html>
}

