@model SmartSys.BL.Sysadmin.BusinessLineModel

@{
    ViewBag.Title = "Edit";
}


<div id="dialog-alert" style="display: none">
    <p>
        @TempData["msg"]!
    </p>
</div>
<script>

    $(document).ready(function () {
        $('.save').click(function (e) {
            e.preventDefault();
            var BusinessLineName = $('#BusinessLineName').val();

            if (BusinessLineName.toString() == "") {
                alert("Please Enter Business Line Name ");
                return false;
            }

            $("#Form1").unbind('submit').submit(); S
        });
    });
</script>
<style>
    td {
        padding-right: 10px;
    }
</style>
<div style="margin-left:30px;margin-bottom:20px" class="glyphicon glyphicon-pencil  text-info">
    Edit BusinessLine Details
</div>
@using (Html.BeginForm("Edit", "BusinessLine", FormMethod.Post, new { Id = "Form1" }))
{

    <html>
    <body>
        <table style="border-collapse:separate;border-spacing: 0 6px; ">
            <tr>
                <td>

                    <label for="BusinessLineId">BusinessLine Id</label>

                </td>
                <td>
                    <div class="editor-field  ">

                        @Html.TextBoxFor(model => model.BusinessLineId, new { @class = "form-control" , @readonly = "readonly" })
                    </div>
                </td>


                <td></td>
            </tr>
            <tr>
                <td>
                    <label for="BusinessLineName">Business Line Name</label>
                </td>
                <td>
                    <div class="">
                        @Html.TextBoxFor(model => model.BusinessLineName, new { @class = "form-control", id = "BusinessLineName", required = "required" })
                        @Html.ValidationMessageFor(model => model.BusinessLineName)
                    </div>
                </td>
                <td>
                    <label for="Description">Description</label>
                </td>

                <td>
                    <div class="">
                        @Html.TextAreaFor(model => model.Description , new { @class="form-control"})
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </td>

            </tr>


            <tr>
                <td>

                    <label for="EventId">Created By</label>

                </td>
                <td>
                    <div class="editor-field  ">
                        @Html.TextBoxFor(model => model.CreatedByName, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                    </div>



                </td>
                <td>

                    <label for="EventId">Created Date</label>

                </td>
                <td>
                    <div class="editor-field  ">
                        @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                    </div>



                </td>
                <td></td>
            </tr>
            <tr>
                <td>

                    <label for="EventId">Modified By</label>

                </td>
                <td>
                    <div class="editor-field  ">
                        @Html.TextBoxFor(model => model.ModifiedByName, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                    </div>



                </td>
                <td>

                    <label for="EventId">Modified Date</label>

                </td>
                <td>
                    <div class="editor-field  ">
                        @Html.TextBoxFor(model => model.ModifiedDate, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                    </div>
                </td>
                <td></td>
            </tr>
                <tr>
                    <td>                
                        <button style="margin:10px" class="btn-xs btn-info glyphicon glyphicon-hand-left" type="button" onclick="location.href = 'GetList';" );"> Back</button> 
                        <button type="submit" class="btn-xs btn-info glyphicon glyphicon-save save"> Save</button>              
                    </td>
                </tr>
        </table>
    </body>
</html>
}

